@page "/"
@inject IJSRuntime JsRuntime

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<h3>Blazor/JavaScript</h3>

<div class="row mt-2">
    <div class="col-4">
        <button class="btn btn-secondary" @onclick="(() => DemoConfirmacion(MensajeConfirmacion))">
            Demo botón confirmar
        </button>
    </div>
</div>

<div class="row mt-2">
    <div class="col-4">
        <button class="btn btn-success" @onclick="DemoSuccess">
            Demo toastr success
        </button>
        <button class="btn btn-danger" @onclick="DemoError">
            Demo toastr error
        </button>
    </div>
</div>

<div class="row mt-2">
    <div class="col-4">
        <button class="btn btn-success" @onclick="DemoSuccessSwal">
            Demo Swal success
        </button>
        <button class="btn btn-danger" @onclick="DemoErrorSwal">
            Demo Swal error
        </button>
    </div>
</div>

<div class="row mt-2">
    @if (ConfirmarResultado == true)
    {
        <p>Confirmación hecha</p>
    }
    else
    {
        <p>Confirmación pendiente</p>
    }
</div>

@code {
    private string MensajeConfirmacion = "Esta seguro de hacer click?";
    private bool ConfirmarResultado { get; set; }

    private async Task DemoConfirmacion(string mensaje)
    {
        ConfirmarResultado = await JsRuntime.InvokeAsync<bool>("confirm", mensaje);
    }

    //Método para el toastr
    private async Task DemoSuccess()
    {
        //await JsRuntime.InvokeVoidAsync("ShowToastr", "success", "Tarea completada!");
        await JsRuntime.ToastrSuccess("Tarea completada!");
    }

    private async Task DemoError()
    {
        //await JsRuntime.InvokeVoidAsync("ShowToastr", "error", "Hubo un problema!");
        await JsRuntime.ToastrError("Hubo un problema!");
    }

    //Método para el Sweet alert
    private async Task DemoSuccessSwal()
    {
        await JsRuntime.InvokeVoidAsync("ShowSwal", "success", "Tarea completada!");
        //await JsRuntime.ToastrSuccess("Tarea completada!");
    }

    private async Task DemoErrorSwal()
    {
        await JsRuntime.InvokeVoidAsync("ShowSwal", "error", "Hubo un problema!");
        //await JsRuntime.ToastrError("Hubo un problema!");
    }
}

