@page "/crear-post"
@using ClienteBlazorWASM.Models;
@using ClienteBlazorWASM.Models.ViewModels;
@using ClienteBlazorWASM.Servicios.IServicio;
@using System.Net.Http.Headers;
@inject IPostsServicio postsServicio
@inject IJSRuntime JsRuntime
@inject NavigationManager navigationManager

<h3 class="text-center">Crear Post</h3>

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-7">
                <h4 class="card-title text-dark">Nuevo Post</h4>
            </div>
        </div>
    </div>
    <div class="card-body">
        <EditForm EditContext="editContext" OnValidSubmit="ManejadorOnCrearPost">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <ValidationSummary></ValidationSummary>
            <div class="container">
                <div class="form-group">
                    <div class="row">
                        <div class="col-2">
                            <label>Título:</label>
                        </div>
                        <div class="col-6">
                            <InputText @bind-Value="CrearPost.Titulo" class="form-control" placeholder="Ingresa el título..."></InputText>
                            <ValidationMessage For="() => CrearPost.Titulo"></ValidationMessage>
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="row">
                        <div class="col-2">
                            <label>Descripción:</label>
                        </div>
                        <div class="col-6">
                            <InputTextArea @bind-Value="CrearPost.Descripcion" class="form-control" placeholder="Ingresa la descripción..."></InputTextArea>
                            <ValidationMessage For="() => CrearPost.Descripcion"></ValidationMessage>
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="row">
                        <div class="col-2">
                            <label>Etiquetas:</label>
                        </div>
                        <div class="col-6">
                            <InputText @bind-Value="CrearPost.Etiquetas" class="form-control" placeholder="Ingresa las etiquetas separadas por coma..."></InputText>
                            <ValidationMessage For="() => CrearPost.Etiquetas"></ValidationMessage>
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <h4>Imagen post:</h4>
                            <InputFile OnChange="ManejadorOnSubidaArchivo"></InputFile>
                            <br />
                            <br />
                            @if (!string.IsNullOrEmpty(CrearPost.RutaImagen))
                            {
                                <div>
                                    <img src="@CrearPost.RutaImagen" style="width:300px;" />
                                </div>
                            }
                            <ValidationMessage For="() => CrearPost.RutaImagen"></ValidationMessage>
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="row">
                        <div class="col-4">
                            <button type="submit" class="btn btn-success">
                                <i class="bi bi-check"></i> Guardar
                            </button>
                        </div>
                        <div class="col-4">
                            <NavLink href="posts" class="btn btn-secondary">
                                <i class="bi bi-arrow-left"></i> Volver
                            </NavLink>
                        </div>
                    </div>
                </div>
            </div>
        </EditForm>
    </div>
</div>

@code {
    private PostVM CrearPost { get; set; } = new PostVM();
    private EditContext editContext;

    protected override void OnInitialized()
    {
        editContext = new EditContext(CrearPost);
    }

    private async Task ManejadorOnCrearPost()
    {
        var crearPost = await postsServicio.CrearPost(CrearPost);
        await JsRuntime.ToastrSuccess("Post creado correctamente");
        navigationManager.NavigateTo("posts");
    }

    private async Task ManejadorOnSubidaArchivo(InputFileChangeEventArgs e)
    {
        var imageFile = e.File;

        if (imageFile == null)
            return;

        var resizedFile = await imageFile.RequestImageFileAsync("image/png", 1000, 700);
        var stream = resizedFile.OpenReadStream(resizedFile.Size);

        var content = new MultipartFormDataContent();

        content.Add(
            new StreamContent(stream),
            "image",
            imageFile.Name
        );

        CrearPost.RutaImagen = await postsServicio.SubidaImagen(content);

        editContext.NotifyFieldChanged(
            new FieldIdentifier(CrearPost, nameof(CrearPost.RutaImagen))
        );

        StateHasChanged();
    }
}
